<?xml version="1.0" encoding="UTF-8"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="merlin_door" params="link_name">
        <link name="${link_name}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="1.0" />
                <inertia ixx="0.857343821996639" ixy="6.2983660131078E-05" ixz="-3.19177822902163E-05" iyy="0.9174970781523" iyz="-8.19713905978223E-05" izz="0.76131215859239" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://mantis_on_rack/meshes/merlin_door.dae" />
                </geometry>
            </visual>
<!--             <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://mantis_on_rack/meshes/objects/ISS_Locker.STL" />
                </geometry>
            </collision> -->
        </link>
    </xacro:macro>
</root>
