<?xml version="1.0" encoding="UTF-8"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="nanoracks_link" params="link_name">
        <link name="${link_name}">
            <inertial>
                <origin xyz="2.55087129061304E-06 0.0160653225793 0.0184477855302965" rpy="0 0 0" />
                <mass value="5.0" />
                <inertia ixx="0.857343821996639" ixy="6.2983660131078E-05" ixz="-3.19177822902163E-05" iyy="1.9174970781523" iyz="-8.19713905978223E-05" izz="1.76131215859239" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://mantis_on_rack/meshes/objects/Nanoracks_Drawer.STL" />
                </geometry>
            </visual>
<!--             <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://mantis_on_rack/meshes/objects/Nanoracks_Drawer.STL" />
                </geometry>
            </collision> -->
        </link>
    </xacro:macro>
</root>
