

<launch>
    <arg name="model" default="arm_rviz.urdf.xacro" />
    <arg name="gui" default="true" />

    <!-- Load model file, calling the xacro program in order to parse all xacro syntax -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find mantis)/model/$(arg model)'" />
    <param name="use_gui" value="$(arg gui)"/>


<!-- Start 3 nodes: joint_state_publisher,
                        robot_state_publisher,
                        rviz -->
    <node name="joint_state_publisher"
          pkg="joint_state_publisher"
          type="joint_state_publisher" />

    <node name="robot_state_publisher"
          pkg ="robot_state_publisher"
          type="robot_state_publisher" />

    <node name="rviz"
          pkg ="rviz"
          type="rviz"
          args="-d $(find mantis)/launch/settings.rviz"
          required="true" />

</launch>
