<launch>

  <!-- <arg name="model" default= "urdf/model.urdf.xacro"/>  -->
  <arg name="robot_xacro" default="$(find mantis_sim)/urdf/mantis_standalone.urdf.xacro"/>
  <arg name="robot_name" default="mantis"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find mantis_sim)/rviz/urdf.rviz" />

	<param name="robot_description" command= "$(find xacro)/xacro --inorder $(arg robot_xacro)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
